* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-items: center;
    border: 0.1px solid transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* .......................... */
.fa-circle-exclamation {
    position:fixed;
    color: rgb(164, 0, 0);
}
#fa-fname {
    top: 224px;
    left: 735px;
}
#fa-sname {
    top: 224px;
    left: 945px;
}
#fa-dob {
    top: 265px;
    left: 945px;
}
#fa-gen {
    top: 345px;
    left: 945px;
}
#fa-email {
    top: 445px;
    left: 945px;
}
#fa-pass {
    top: 505px;
    left: 945px;
}
/* .................................. */
body {
    background-color: rgb(233, 233, 233);
}

.fb-heading {
    display: flex;
    width: 100%;
    height: 6vw;
    border: 0.1px solid transparent;
    justify-content: center;
    margin-bottom: 1.2vw;
}

.fb-heading img {
    display: flex;
    margin: 0 auto;
    height: 6vw;
    width: 30vw;
    border:1px solid transparent;
}

.fb-form-body {
    border: 1px solid transparent;
    margin: 0 auto 1vw;
    width: 50%;
}


.form-box {
    height: 588px;
    margin: 0.3vw auto;
    width: 432px;
    border-radius: 5px;
    border: 0.1px solid transparent;
    box-shadow: 1px 1px 10px -3px;
}




.form-top {
    width: 432px;
    height: 76px;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-bottom: 0.1px solid rgb(122, 122, 122);
    margin: 0 auto;
    border-bottom: 0.1px solid rgb(161, 161, 161);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.form-top h2 {
    font-size: 30px;
}
.form-top p {
    color: #676565;
    font-size: 20px;
}

.form-bottom {
    height: 512px;
    width: 432px;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* ............................................ */

.name-input {
    width: 96%;
    display: flex;
    justify-content: space-between;
    border: 0.1px solid transparent;
    margin: 10px auto 0 auto;
    height: 10%;
}
.nmbox {
    height: 100%;
    width: 200px;
    border: 0.1px solid rgb(176, 176, 176);
    border-radius: 0.5vw;
    padding-left: 1vw;
    font-size: 20px;
}

/* ..................................................... */

.input-mainbox {
    height: 76px;
    width: 96%;
    margin: 5px auto 5px auto;
    border: 0.1px solid transparent;
}

.input-mainbox p {
    height: 8px;
    margin: 2px auto 0 0;
    border: 0.1px solid transparent;
}

.dob-input {
    display: flex;
    justify-content: space-between;
    border: 0.1px solid  transparent;
    height: 50px;
    width: 100%;
    margin-top: 13px;
}
.fa-circle-question {
    position: absolute;
    top: 265px;
    left: 655px;
    color: #4d4d4d;
    cursor: pointer;
}

.ddmmyy {
    display: flex;
    align-items: center;
    border: 0.1px solid rgb(176, 176, 176);
    height: 100%;
    width: 130px;
    border-radius: 0.5vw;
    padding-left: 1vw;
    font-size: 20px;
}

/* ......................................................... */

.gender-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    margin: 13px auto 0 auto;
    border: 0.1px solid transparent;
    border-radius: 0.5vw;
    font-size: 20px;
}

.faq2 {
    position: absolute;
    top: 345px;
    left: 620px;
    color: #4d4d4d;
    cursor: pointer;
}

.gender {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 130px;
    border: 0.1px solid rgb(176, 176, 176);
    border-radius: 0.5vw;
    font-size: 20px;
}

/* .................................................. */

.email-input , .paswd {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 95%;
    border: 0.1px solid rgb(176, 176, 176);
    border-radius: 0.5vw;
    font-size: 20px;
    padding-left: 0.7vw;
    
}

.email-input {
    margin: 10px auto 0 auto;
}
.paswd {
    margin: 10px auto 0 auto;
}

.submit {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 200px;
    background-color: #00a400;
    border: 0.1px solid transparent;
    border-radius: 6px;
    font-size: 20px;
    margin:  10px auto 5px auto;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.terms-con {
    width: 96%;
    margin: 5px auto 5px auto;
    font-size: 13px;
    color: #767676;
}
.fb-link {
    text-decoration: none;
    color: #188cf5;
}
.fb-link:hover {
    text-decoration: underline;
}


.fb-login-link {
    display: flex;
    width: 100%;
    border: 0.1px solid transparent;
    text-decoration: none;
    color: #188cf5;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}


/* .........................Resposive Design........................... */

/* .................................................... */
/*
@media only screen and (max-width:430px)
{
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        align-items: center;
        border: 0.1px solid transparent;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
  
    .fa-circle-exclamation {
        position: absolute;
        color: rgb(164, 0, 0);
    }
    #fa-fname {
        left: 180px;
    }
    #fa-sname {
        left: 380px;
    }
    #fa-dob {
        top: 235px;
        left: 380px;
    }
    #fa-gen {
        top: 315px;
        left: 380px;
    }
    #fa-email {
        top: 415px;
        left: 380px;
    }
    #fa-pass {
        top: 475px;
        left: 380px;
    }
   
    body {
        background-color: rgb(233, 233, 233);
    }
    
    .fb-heading {
        display: flex;
        align-items: center;
        width: 100%;
        height: 80px;
        border: 0.1px solid transparent;
        justify-content: center;
    }
    
    .fb-heading img {
        margin: 0 auto;
        height: 80px;
        width: 160px;
        border: none;

    }
    
    .fb-form-body {
        height: 600px;
        border: 1px solid transparent;
    }
    
    
    .form-box {
        height: 600px;
        margin: 0.3vw auto;
        width: 410px;
        border-radius: 5px;
        border: 0.1px solid transparent;
        box-shadow: 2px 2px 10px -1px;
    }
    
    .form-top {
        width: 410px;
        height: 76px;
        align-items: center;
        text-align: center;
        background-color: rgb(255, 255, 255);
        border-bottom: 0.1px solid rgb(122, 122, 122);
        margin: 0 auto;
        border-bottom: 0.1px solid rgb(161, 161, 161);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .form-top h2 {
        font-size: 30px;
    }
    .form-top p {
        color: #676565;
        font-size: 20px;
    }
    
    .form-bottom {
        height: 524px;
        width: 410px;
        background-color: rgb(255, 255, 255);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
    
    
    .name-input {
        width: 96%;
        display: flex;
        justify-content: space-between;
        border: 0.1px solid transparent;
        margin: 10px auto 0 auto;
        height: 10%;
    }
    .nmbox {
        height: 100%;
        width: 190px;
        border: 0.1px solid rgb(176, 176, 176);
        border-radius: 0.5vw;
        padding-left: 1vw;
        font-size: 20px;
    }
    
   
    
    .input-mainbox {
        height: 76px;
        width: 96%;
        margin: 5px auto 5px auto;
        border: 0.1px solid transparent;
    }
    
    .input-mainbox p {
        height: 8px;
        margin: 2px auto 0 0;
        border: 0.1px solid transparent;
    }
    
    .dob-input {
        display: flex;
        justify-content: space-between;
        border: 0.1px solid  transparent;
        height: 50px;
        width: 100%;
        margin-top: 13px;
    }
    .fa-circle-question {
        position: absolute;
        top: 235px;
        left: 110px;
        color: #4d4d4d;
        cursor: pointer;
    }
    
    .ddmmyy {
        display: flex;
        align-items: center;
        border: 0.1px solid rgb(176, 176, 176);
        height: 100%;
        width: 122px;
        border-radius: 0.5vw;
        padding-left: 1vw;
        font-size: 20px;
    }
    
   
    
    .gender-input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        width: 100%;
        margin: 13px auto 0 auto;
        border: 0.1px solid transparent;
        border-radius: 0.5vw;
        font-size: 20px;
    }
    
    .faq2 {
        position: absolute;
        top: 316px;
        left: 75px;
        color: #4d4d4d;
        cursor: pointer;
    }
    
    .gender {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        width: 123px;
        border: 0.1px solid rgb(176, 176, 176);
        border-radius: 0.5vw;
        font-size: 20px;
    }
    
    
    
    .email-input , .paswd {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 50px;
        width: 95%;
        border: 0.1px solid rgb(176, 176, 176);
        border-radius: 0.5vw;
        font-size: 20px;
        padding-left: 0.7vw;
        
    }
    
    .email-input {
        margin: 10px auto 0 auto;
    }
    .paswd {
        margin: 10px auto 0 auto;
    }
    
    .submit {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 40px;
        width: 200px;
        background-color: #00a400;
        border: 0.1px solid transparent;
        border-radius: 6px;
        font-size: 20px;
        margin:  10px auto 5px auto;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
    }
    
    .terms-con {
        width: 96%;
        margin: 5px auto 5px auto;
        font-size: 13px;
        color: #767676;
    }
    .fb-link {
        text-decoration: none;
        color: #188cf5;
    }
    .fb-link:hover {
        text-decoration: underline;
    }
    
    
    .fb-login-link {
        display: flex;
        width: 100%;
        border: 0.1px solid transparent;
        text-decoration: none;
        color: #188cf5;
        font-size: 15px;
        justify-content: center;
        align-items: center;
    }

}
*/
/* ................................................................... */







@media only screen and (max-width:770px)
{
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        align-items: center;
        border: 0.1px solid transparent;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    /* .......................... */
    .fa-circle-exclamation {
        position: absolute;
        color: rgb(164, 0, 0);
        display: none;
        opacity: 0;
    }
    #fa-fname {
        left: 46%;
    }
    #fa-sname {
        left: 75%;
    }
    #fa-dob {
        top: 30%;
        left: 75%;
    }
    #fa-gen {
        color:rgb(164 , 0 ,0);
        top: 42.5%;
        left: 75%;
    }
    #fa-email {
        top: 56.4%;
        left: 75%;
    }
    #fa-pass {
        top: 64.5%;
        left: 75%;
    }
    /* .................................. */
    body {
        background-color: rgb(233, 233, 233);
    }
    
    .fb-heading {
        display: flex;
        align-items: center;
        width: 100%;
        height: 10vw;
        border: 0.1px solid transparent;
        justify-content: center;
    }
    
    .fb-heading img {
        margin: 0;
        height: 8vw;
        width: 40%;
        border: none;
    }
    
    .fb-form-body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90%;
        width: 100%;
        border: 1px solid transparent;
    }
    
    
    .form-box {
        height: 50%;
        margin: 1.3vw auto;
        width: 90%;
        border-radius: 1.5vw;
        border: 0.1px solid transparent;
        box-shadow: 2px 2px 10px -1px;
    }
    
    .form-top {
        width: 100%;
        height: 12%;
        align-items: center;
        text-align: center;
        background-color: rgb(255, 255, 255);
        border-bottom: 0.1px solid rgb(122, 122, 122);
        margin: 0 auto;
        border-bottom: 0.1px solid rgb(161, 161, 161);
        border-top-left-radius: 2vw;
        border-top-right-radius: 2vw;
    }
    .form-top h2 {
        font-size: 30px;
    }
    .form-top p {
        color: #676565;
        font-size: 20px;
    }
    
    .form-bottom {
        height: 88%;
        width: 100%;
        background-color: rgb(255, 255, 255);
        border-bottom-left-radius: 2vw;
        border-bottom-right-radius: 2vw;
    }
    
    /* ............................................ */
    
    .name-input {
        width: 96%;
        display: flex;
        justify-content: space-between;
        border: 0.1px solid transparent;
        margin: 1vh auto 0 auto;
        height: fit-content;
    }
    .nmbox {
        height: 50px;
        width: 49%;
        border: 0.1px solid rgb(176, 176, 176);
        border-radius: 1vw;
        padding-left: 1vw;
        font-size: 20px;
    }
    
    /* ..................................................... */
    
    .input-mainbox {
        height: fit-content;
        width: 96%;
        margin: 1.5vh auto 1.5vh auto;
        border: 0.1px solid  transparent;
    }
    
    .input-mainbox p {
        height: 8px;
        margin: 0 auto 1vh 0;
        border: 0.1px solid transparent;
    }
    
    .dob-input {
        display: flex;
        justify-content: space-between;
        border: 0.1px solid  transparent;
        height: 50px;
        width: 100%;
    }
    .fa-circle-question {
        position: absolute;
        top: 235px;
        left: 110px;
        color: #4d4d4d;
        cursor: pointer;
        display: none;
        opacity: 0;
    }
    
    .ddmmyy {
        display: flex;
        align-items: center;
        border: 0.1px solid rgb(176, 176, 176);
        height: 100%;
        width: 32%;
        border-radius: 1vw;
        padding-left: 1vw;
        font-size: 20px;
    }
    
    /* ......................................................... */
    
    .gender-input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        width: 100%;
        margin: 13px auto 0 auto;
        border: 0.1px solid transparent;
        border-radius: 1vw;
        font-size: 20px;
    }
    
    .faq2 {
        position: absolute;
        top: 316px;
        left: 75px;
        color: #4d4d4d;
        cursor: pointer;
        display: none;
        opacity: 0;
    }
    
    .gender {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        width: 32%;
        border: 0.1px solid rgb(176, 176, 176);
        border-radius: 1vw;
        font-size: 20px;
    }
    
    /* .................................................. */
    
    .email-input , .paswd {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 50px;
        width: 95%;
        border: 0.1px solid rgb(176, 176, 176);
        border-radius: 1vw;
        font-size: 20px;
        padding-left: 0.7vw;
        
    }
    
    .email-input {
        margin: 1vh auto 0 auto;
    }
    .paswd {
        margin: 1.5vh auto 0 auto;
    }
    
    .submit {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 40px;
        width: 35%;
        background-color: #00a400;
        border: 0.1px solid transparent;
        border-radius: 6px;
        font-size: 20px;
        margin:  10px auto 5px auto;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
    }
    
    .terms-con {
        width: 96%;
        margin: 5px auto 5px auto;
        font-size: 13px;
        color: #767676;
    }
    .fb-link {
        text-decoration: none;
        color: #188cf5;
    }
    .fb-link:hover {
        text-decoration: underline;
    }
    
    
    .fb-login-link {
        display: flex;
        width: 100%;
        border: 0.1px solid transparent;
        text-decoration: none;
        color: #188cf5;
        font-size: 15px;
        justify-content: center;
        align-items: center;
    }

}
